<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Plots!</title>
    <style type="text/css">
    .mainBody {
        color: yellow;
        position: absolute;
        top: 40px;
        bottom: 20px;
        width:100%;
    }
</style>
</head>
<body>
    <h1>TimeSeries plots for Device {{device}}</h1>
    <h2 id="device"></h2>

    <div class="row">
      <div class="col-sm-6" id="choke-waterCut-line" style="height: 300px; margin: 0 auto">
      </div>
      <div class="col-sm-3" id="choke-guage" style="height: 300px; margin: 0 auto">
      </div>
<!--   <div class="col-sm-3" id="waterCut-line" style="height: 300px; margin: 0 auto">3 of 4
</div> -->
<div class="col-sm-3" id="waterCut-guage" style="height: 300px; margin: 0 auto">
</div>
</div>
<div class="row">
    <div class="col" id="oilRate" style="height: 300px; margin: 0 auto">

    </div>
</div>
<div class="row">
    <div class="col" id="temp-pressure" style="height: 300px; margin: 0 auto">

    </div>
</div>

<!-- <div id="container" class="mainBody"></div> -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script> -->
    <script src="https://code.highcharts.com/highcharts-more.js"></script>


    <script type="text/javascript">
        var chokeVal = 0;
        var waterVal = 0;
        var init = 100;
        var updateInterval = 1000;

        function charts(){



            Highcharts.chart('choke-waterCut-line', {
                chart: {
                     events: {
          load: function () {

        // set up the updating of the chart each second
        var series = this.series[0];
        var series1 = this.series[1];
        var i = 0;
        setInterval(function () {
          var x = data['ts'].slice(init,); // current time
          chokeVal = choke.points.splice(0,1)[0];
          waterVal = waterCut.points.splice(0,1)[0];
          // console.log([x[i], y[i]])
          series.addPoint([x[i], chokeVal], true, true);
          series1.addPoint([x[i], waterVal], true, true);
          i++;
      }, updateInterval);
    }
},
    zoomType: 'xy',
        // alignTicks:false
    },
    boost: {
        useGPUTranslations: true
    },

    title: {
        text: 'Choke and WaterCut Percentage'
    },
xAxis: {
    type: 'datetime'
},
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value} %',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        title: {
            text: 'Percentage',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }

    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 80,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
series: [{
    name: 'Choke',
    data: (function () {
      // generate an array of random data
      var d = [],
        i;

      for (i = 0; i <= init; i += 1) {
        d.push({
          x: data['ts'][i],
          y: choke.points.splice(0,1)[0]
        });
      }
      return d;
    }()),
    tooltip: {
        valueSuffix: ' %'
    }
}, {
    name: 'WaterCut',
    data: (function () {
      // generate an array of random data
      var d = [],
        i;

      for (i = 0; i <= init; i += 1) {
        d.push({
          x: data['ts'][i],
          y: waterCut.points.splice(0,1)[0]
        });
      }
      return d;
    }()),
    tooltip: {
        valueSuffix: ' %'
    }
}],

responsive: {
    rules: [{
      condition: {
        maxWidth: 500
    },
    chartOptions: {
        legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom'
      }
  }
}]
}
});

            Highcharts.chart('choke-guage', {

              chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },

            title: {
                text: 'Choke'
            },

            pane: {
                startAngle: -150,
                endAngle: 150,
                background: [{
                  backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                    [0, '#FFF'],
                    [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
              backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                [0, '#333'],
                [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
      // default background
  }, {
      backgroundColor: '#DDD',
      borderWidth: 0,
      outerRadius: '105%',
      innerRadius: '103%'
  }]
},

  // the value axis
  yAxis: {
    min: 0,
    max: 100,

    minorTickInterval: 'auto',
    minorTickWidth: 1,
    minorTickLength: 10,
    minorTickPosition: 'inside',
    minorTickColor: '#666',

    tickPixelInterval: 30,
    tickWidth: 2,
    tickPosition: 'inside',
    tickLength: 10,
    tickColor: '#666',
    labels: {
      step: 2,
      rotation: 'auto'
  },
  title: {
      text: '%'
  },
  plotBands: [{
      from: 0,
      to: 60,
      color: '#55BF3B' // green
  }, {
      from: 60,
      to: 90,
      color: '#DDDF0D' // yellow
  }, {
      from: 90,
      to: 100,
      color: '#DF5353' // red
  }]
},

series: [{
    name: 'FVC',
    data: [80],
    tooltip: {
      valueSuffix: ' %'
  }
}]

},
// Add some life
function (chart) {
  if (!chart.renderer.forExport) {
    setInterval(function () {
      var point = chart.series[0].points[0];
    point.update(chokeVal);

}, updateInterval);
}
});

            Highcharts.chart('waterCut-guage', {

              chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },

            title: {
                text: 'Water Cut'
            },

            pane: {
                startAngle: -150,
                endAngle: 150,
                background: [{
                  backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                    [0, '#FFF'],
                    [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
              backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                [0, '#333'],
                [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
      // default background
  }, {
      backgroundColor: '#DDD',
      borderWidth: 0,
      outerRadius: '105%',
      innerRadius: '103%'
  }]
},

  // the value axis
  yAxis: {
    min: 0,
    max: 100,

    minorTickInterval: 'auto',
    minorTickWidth: 1,
    minorTickLength: 10,
    minorTickPosition: 'inside',
    minorTickColor: '#666',

    tickPixelInterval: 30,
    tickWidth: 2,
    tickPosition: 'inside',
    tickLength: 10,
    tickColor: '#666',
    labels: {
      step: 2,
      rotation: 'auto'
  },
  title: {
      text: '%'
  },
  plotBands: [{
      from: 0,
      to: 30,
      color: '#55BF3B' // green
  }, {
      from: 30,
      to: 60,
      color: '#DDDF0D' // yellow
  }, {
      from: 60,
      to: 100,
      color: '#DF5353' // red
  }]
},

series: [{
    name: 'Water Ratio',
    data: [80],
    tooltip: {
      valueSuffix: ' %'
  }
}]

},
// Add some life
function (chart) {
  if (!chart.renderer.forExport) {
    setInterval(function () {
      var point = chart.series[0].points[0];

    point.update(waterVal);

}, updateInterval);
}
});
            Highcharts.setOptions({
              global: {
                useUTC: false
            }
        });



Highcharts.chart('oilRate', {

    chart: {
        events: {
          load: function () {

        // set up the updating of the chart each second
        var series = this.series[0];
        var i = 0;
        setInterval(function () {
          var x = data['ts'].slice(init,) // current time
          y = or.splice(0,1);
          // console.log([x[i], y[i]])
          series.addPoint([x[i], y[0][0], y[0][1]], true, true);
          i++;
      }, updateInterval);
    }
},
type: 'arearange',
zoomType: 'xy',
scrollablePlotArea: {
    minWidth: 600,
    scrollPositionX: 1
}
},

title: {
    text: 'Oil Rate'
},

xAxis: {
    type: 'datetime'
},

yAxis: {
    title: {
        text: null
    }
},

tooltip: {
    crosshairs: true,
    shared: true,
    valueSuffix: 'bbl/d'
},

legend: {
    enabled: false
},

series: [{
    name: 'Oil Rate',
    data: (function () {
      // generate an array of random data
      var d = [],
        i;

      for (i = 0; i <= init; i += 1) {
        var t = or.splice(0,1)[0];
        d.push([data['ts'][i],t[0],t[1]]
        );
      }
      return d;
    }())
}]

});


Highcharts.chart('temp-pressure', {
  chart: {
      events: {
          load: function () {

        // set up the updating of the chart each second
        var series = this.series[0];
        var series1 = this.series[1];
        var i = 0;
        setInterval(function () {
          var x = data['ts'].slice(init,); // current time
          var c = temp.splice(0,1);
          var w = p.splice(0,1);
          // console.log([x[i], y[i]])
          series.addPoint([x[i], c[0]], true, true);
          series1.addPoint([x[i], w[0]], true, true);
          i++;
      }, updateInterval);
    }
},
    zoomType: 'xy'
},
title: {
    text: 'Temperature and Pressure'
},
xAxis: [{
    crosshair: true,
    type: 'datetime'
}],
  yAxis: [{ // Primary yAxis
    labels: {
      format: '{value}°F',
      style: {
        color: Highcharts.getOptions().colors[0]
    }
},
title: {
  text: 'Temperature',
  style: {
    color: Highcharts.getOptions().colors[0]
}
},
opposite: true

  }, { // Secondary yAxis
    gridLineWidth: 0,
    title: {
      text: 'Pressure',
      style: {
        color: Highcharts.getOptions().colors[1]
    }
},
labels: {
  format: '{value} psia',
  style: {
    color: Highcharts.getOptions().colors[1]
}
}

}],
tooltip: {
    shared: true
},
legend: {
    layout: 'vertical',
    align: 'left',
    x: 80,
    verticalAlign: 'top',
    y: 55,
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
},
series: [{
    name: 'Temperature',
    type: 'spline',
    yAxis: 1,
    data: (function () {
      // generate an array of random data
      var d = [],
        i;

      for (i = 0; i <= init; i += 1) {
        d.push({
          x: data['ts'][i],
          y: temp.splice(0,1)[0]
        });
      }
      return d;
    }()),
    tooltip: {
      valueSuffix: ' °F'
  }

}, {
    name: 'Pressure',
    type: 'spline',
    data: (function () {
      // generate an array of random data
      var d = [],
        i;

      for (i = 0; i <= init; i += 1) {
        d.push({
          x: data['ts'][i],
          y: p.splice(0,1)[0]
        });
      }
      return d;
    }()),
    tooltip: {
      valueSuffix: ' psia'
  }
}],

responsive: {
    rules: [{
      condition: {
        maxWidth: 500
    },
    chartOptions: {
        legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom'
      }
  }
}]
}
});

}

var data = {{ data | safe}};
  // data = JSON.parse(data);
  console.log(data)
  // 
  // to get keys Object.keys(data)
  sensors = Object.keys(data) 
  // $("#device").html(JSON.parse(data[sensors[1]]).equipment)

  // JSON.parse(data[sensors[0]]).datapoints
  if ('TEMPERATURE1' in data){
    var temp1 = data['TEMPERATURE1']
}
if ('TEMPERATURE2' in data) {
    var temp2 = data['TEMPERATURE2']
}
if ('PRESSURE1' in data){
    var p1 = data['PRESSURE1']
}
if ('PRESSURE2' in data){
    var p2 = data['PRESSURE2']
}
if ('CHOKE_POSITION' in data) {
    var choke = data['CHOKE_POSITION']
}
if ('WATER_CUT' in data) {
    var waterCut = data['WATER_CUT']
}
if ('LIQUID_RATE' in data) {
    var liquidRate = data['LIQUID_RATE']
}
if ('WATER_RATE' in data) {
    var waterRate = data['WATER_RATE']
}
if('OIL_RATE' in data) {
    var oilRate = data['OIL_RATE']
}
var or = []
for(var i=0;i<=waterRate.points.length-1;i++){
    or.push([liquidRate.points[i],waterRate.points[i]])

}


// var temp = temp1.map(function(item, index) {
//   // In this case item correspond to currentValue of array a, 
//   // using index to get value from array b
//   return item - temp2[index];
// })
var temp = []
for(var i = 0;i<=temp2.points.length-1;i++)
  temp.push(temp1.points[i] - temp2.points[i]);
var p = []

for(var i = 0;i<=p2.points.length-1;i++)
  p.push(p1.points[i] - p2.points[i]);


$( document ).ready(function() {
    // datainit();
    charts();
});




// console.log(choke, temp, p, data['ts'])

Highcharts.theme = {
    colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572',
    '#FF9655', '#FFF263', '#6AF9C4'],
    chart: {
        backgroundColor: {
            linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
            stops: [
            [0, 'rgb(255, 255, 255)'],
            [1, 'rgb(240, 240, 255)']
            ]
        },
        borderWidth: 2,
        plotBackgroundColor: 'rgba(255, 255, 255, .9)',
        plotShadow: true,
        plotBorderWidth: 1
    },
    title: {
        style: {
            color: '#000',
            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    subtitle: {
        style: {
            color: '#666666',
            font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    xAxis: {
        gridLineWidth: 1,
        lineColor: '#000',
        tickColor: '#000',
        labels: {
            style: {
                color: '#000',
                font: '11px Trebuchet MS, Verdana, sans-serif'
            }
        },
        title: {
            style: {
                color: '#333',
                fontWeight: 'bold',
                fontSize: '12px',
                fontFamily: 'Trebuchet MS, Verdana, sans-serif'

            }
        }
    },
    yAxis: {
        minorTickInterval: 'auto',
        lineColor: '#000',
        lineWidth: 1,
        tickWidth: 1,
        tickColor: '#000',
        labels: {
            style: {
                color: '#000',
                font: '11px Trebuchet MS, Verdana, sans-serif'
            }
        },
        title: {
            style: {
                color: '#333',
                fontWeight: 'bold',
                fontSize: '12px',
                fontFamily: 'Trebuchet MS, Verdana, sans-serif'
            }
        }
    },
    legend: {
        itemStyle: {
            font: '9pt Trebuchet MS, Verdana, sans-serif',
            color: 'black'

        },
        itemHoverStyle: {
            color: '#039'
        },
        itemHiddenStyle: {
            color: 'gray'
        }
    },
    labels: {
        style: {
            color: '#99b'
        }
    },

    navigation: {
        buttonOptions: {
            theme: {
                stroke: '#CCCCCC'
            }
        }
    }
};

Highcharts.setOptions(Highcharts.theme);

// Highcharts.chart('container', {
//     chart: {
//         zoomType: 'xy',
//         // alignTicks:false
//     },
//     boost: {
//         useGPUTranslations: true
//     },
//     title: {
//         text: 'Sensor Data Plots'
//     },
//     subtitle: {
//         text: 'Sensors: ' + sensors.toString()
//     },
//     xAxis: [{
//         categories: data['ts'].slice(1,100),
//         crosshair: true,
//         type: 'datetime'
//     }],
//     yAxis: [{ // Primary yAxis
//         labels: {
//             format: '{value}°F',
//             style: {
//                 color: Highcharts.getOptions().colors[4]
//             }
//         },
//         title: {
//             text: 'Temperature',
//             style: {
//                 color: Highcharts.getOptions().colors[4]
//             }
//         },
//         opposite: true

//     }, { // Secondary yAxis
//         gridLineWidth: 0,
//         title: {
//             text: 'choke',
//             style: {
//                 color: Highcharts.getOptions().colors[0]
//             }
//         },
//         labels: {
//             format: '{value} %',
//             style: {
//                 color: Highcharts.getOptions().colors[0]
//             }
//         },
//         min:0,
//         max: 105,

//     },{ // Primary yAxis
//         labels: {
//             format: 'Pressure',
//             style: {
//                 color: Highcharts.getOptions().colors[3]
//             }
//         },
//         title: {
//             text: '{value} psia',
//             style: {
//                 color: Highcharts.getOptions().colors[3]
//             }
//         },
//         opposite: true

//     },{ // Secondary yAxis
//         gridLineWidth: 0,
//         title: {
//             text: 'Rate',
//             style: {
//                 color: Highcharts.getOptions().colors[1]
//             }
//         },
//         labels: {
//             format: '{value} %',
//             style: {
//                 color: Highcharts.getOptions().colors[1]
//             }
//         }

//     }],
//     tooltip: {
//         shared: true
//     },
//     legend: {
//         layout: 'vertical',
//         align: 'left',
//         x: 80,
//         verticalAlign: 'top',
//         y: 55,
//         floating: true,
//         backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
//     },
//     series: [{
//         name: 'choke',
//         type: 'column',
//         yAxis: 1,
//         data: choke.points.slice(1,100),
//         tooltip: {
//             valueSuffix: ' %'
//         }

//     },
//     {           name: 'oil rate',
//     type: 'arearange',
//     yAxis: 1,
//     data: or.slice(1,100),
//     tooltip: {
//       valueSuffix: ' bbl/d'
//   }
// }
// ,{
//     name: 'Water Cut',
//     type: 'column',
//     yAxis: 1,
//     data: waterCut.points.slice(1,100),
//     tooltip: {
//         valueSuffix: ' %'
//     }

// }
// , {
//     name: 'Pressure',
//     type: 'spline',
//     yAxis: 1,
//     data: p.slice(1,100),
//     marker: {
//         enabled: false
//     },
//     dashStyle: 'shortdot',
//     tooltip: {
//         valueSuffix: ' psia'
//     }

// }, {
//     name: 'Temperature',
//     type: 'spline',
//     data: temp.slice(1,100),
//     tooltip: {
//         valueSuffix: ' °F'
//     }
// }]
// });

</script>
</body>
</html>